<div id="productsListMasterDiv" *ngFor="let prod of products">
    <h2>{{prod.product_name}}</h2><br>
    Description: {{prod.product_description}}<br>
    Price: ${{prod.product_price}}<br>
    How many are left: {{prod.product_quantity}}<br>
    <img src="{{prod.product_url}}"><br>
    non working URL: <a routerLink="/products/all/{{prod.product_id}}">{{prod.product_name}}</a><br>
    ---------------------------------------------------------------------------------------------- 
    <!-- the - are just there for breaking up the page a little. should be removed before final production -->
</div>
