<h2>Product Page</h2>

<div id="product" *ngFor="let prod of products">
    <h2>{{prod.product_name}}</h2>

    <p>Description: {{prod.product_description}}</p>
    <p>Price: {{prod.product_price | currency }}</p>
    <p>Units left: {{prod.product_quantity}}</p>

    <img id="img_{{prod.product_id}}" src="{{prod.product_url}}">

    <button id="button_addtoCart_{{prod.product_id}}" value="addToCart">Add to Cart</button>
    <button id="button_addtoWishlist_{{prod.product_id}}" value="addToWishlist">Add to Wishlist</button>
    <button id="button_addtoGroup_{{prod.product_id}}" value="addToGroup">Add to other Group</button>
</div>
