<div *ngIf="selectedProduct" class="alert alert-success" role="alert" ngDefaultControl>
 <span class="added-ok"> Product added successfully. <a routerLink="../../../cart" class="alert-link">Go to cart?</a></span>
  <input hidden id="hero-name" [(ngModel)]="selectedProduct.product_name" ngDefaultControl placeholder="name">
</div>

<app-cart hidden [product]="selectedProduct" ngDefaultControl></app-cart>

<div class="container">
  <div id="product">
    <h2>{{prod.product_name}}</h2>

    <p>Description: {{prod.product_description}}</p>
    <p>Price: {{prod.product_price | currency }}</p>
    <p>Units left: {{prod.product_quantity}}</p>

    <img id="img_{{prod.product_id}}" src="{{prod.product_url}}">

    <button class="btn btn-warning" (click)="addToCart(); onSelect(prod)" id="button_addtoCart_{{prod.product_id}}" value="addToCart">Add to Cart</button>

    <button class="btn btn-warning" id="button_addtoWishlist_{{prod.product_id}}" value="addToWishlist">Add to Wishlist</button>

    <button class="btn btn-warning" id="button_addtoGroup_{{prod.product_id}}" value="addToGroup">Add to other Group</button>
  </div>
</div>


<div class="container-fluid">
  <h3>What Other Customers are Saying</h3>
</div>

