<h2>Product Page</h2>
<div id="product" *ngFor="let prod of products">
    <h2>{{prod.product_name}}</h2><br>
    Description: {{prod.product_description}}<br>
    Price: ${{prod.product_price}}<br>
    How many are left: {{prod.product_quantity}}<br>
    <img id="img_{{prod.product_id}}" src="{{prod.product_url}}"><br>
    <button id="button_addtoCart_{{prod.product_id}}" value="addToCart">Add to Cart</button> 
    <button id="button_addtoWishlist_{{prod.product_id}}" value="addToWishlist">Add to Wishlist</button> 
    <button id="button_addtoGroup_{{prod.product_id}}" value="addToGroup">Add to other Group</button>
</div>