.container {
  padding-left: 3rem;
}

table {
  width: 100%;
}

.button {
  cursor: pointer;
  display: block;
  margin: 2rem auto;
  background-color: #e77d11;
  color: #f8f8f8;
  border: 0;
  padding: 1rem 1.25rem;
  font-size: 18px;
  width: fit-content;
}

.button:hover {
  opacity: .8;
}

.group_contentsList {
  font-size: 18px;
  padding-left: 3rem;
}


a {
  color: #c1440e;
  padding: .25rem .5rem;
  border-radius: .5rem;
}

a:hover {
  background-color: hsl(30, 100%, 88%);
  color: #451804;

}


