<div class="navContainerMM">
	<nav class="navbarMM">
		<div id="navbarLogoMM">Martian Store</div>
		<div id="menuToggleID" class="menuToggleMM">
			<span class="barMM"></span>
			<span class="barMM"></span>
			<span class="barMM"></span>
		</div>
		<ul class="navMenuMM">
			<li><a routerLink="categories" class="navLinksMM">Categories</a></li>
			<li><a routerLink="" *ngIf="!isLoggedin" class="navLinksMM">Log In</a></li>
			<li><a routerLink="dashboard" *ngIf="isLoggedin" class="navLinksMM">Dashboard</a></li>
			<li><a routerLink="logout" *ngIf="isLoggedin" class="navLinksMM" (click)="logout()">Log Out</a></li>
		</ul>
	</nav>
</div>


<!-- <div id="navbarlist"> -->
	<!--
		<a id="a_navbar_gategories" routerLink="categories">Categories</a>
		<a id="a_navbar_login" routerLink="login" *ngIf="!isLoggedin">Log In</a>
		<a id="a_navbar_dashboard" routerLink="dashboard">Dashboard</a>
		<a routerLink="/signup" *ngIf="!isLoggedin">Signup</a>
		<a routerLink="comments">Comments</a>
		<a routerLink="groups/13">View Groups (user 13 only)</a>
		<a routerLink="/cart" class="button cart-button"><i class="material-icons">shopping_cart</i></a>
		<a *ngIf="isLoggedin">Welcome {{fname}}</a>
		<a class="logout" *ngIf="isLoggedin">
				 <input type="submit" value="logout" (click)="onlogout()"></a>
	-->
<!-- </div> -->
