<div class="container">
<ul id="navbarlist">

  <li><a id="a_navbar_gategories" routerLink="categories">Home</a></li>
  <li> <a id="a_navbar_login" routerLink="login" *ngIf="!isLoggedin">Log In</a></li>
  <li> <a routerLink="/signup" *ngIf="!isLoggedin">Signup</a></li>

  <li><a id="a_navbar_dashboard" routerLink="dashboard">Dashboard</a></li>
  <li><a routerLink="comments">Comments</a></li>

   <li><a routerLink="groups/13">View Groups (user 13 only)</a></li>

  <li>
    <a *ngIf="isLoggedin">Welcome {{fname}}</a>
    <a class="logout" *ngIf="isLoggedin">

    <input type="submit" value="logout" (click)="onlogout()"></a></li>

    <li><a routerLink="/cart" class="button cart-button"><i class="material-icons">shopping_cart</i></a></li>

</ul>

</div>
