
/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #c1440e;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}


.cart-button {
  background-color: white;
  color: #c1440e;

}
.logout{
    margin-left: 30%;
}

.cart-button i.material-icons {
  color: #c1440e;
  padding-right: 4px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  line-height: 1.5;
  cursor: pointer;
  size: 18px;
}
a:hover {
  text-decoration: none;
  color:brown;
}

