.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #e77d11;
	position: relative;
}

.logo {
	text-decoration: none;
	color: #fff;
	font-size: 1.6rem;
	padding: .9rem;
}

.navLink ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.navLink ul li {
	list-style: none;
}

.navLink ul li a {
	text-decoration: none;
	margin: 1.1rem;
	padding: .3rem;
	color: #fff;
	font-size: 1.2rem;
}

.navToggler {
	width: 35px;
	height: 30px;
	display: none;
	position: absolute;
	right: .94rem;
	margin-top: 10px;
}

.navToggler div {
  background-color: #fff;
	width: 100%;
	height: 5px;
	margin: 5px;
	cursor: pointer;
}

@media(max-width: 760px) {
	.navLink {
		width: 100%;
		display: none;
	}
	.navToggler {
		display: block;
	}
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.navLink ul {
		width: 100%;
		flex-direction: column;
	}
	.navLink ul li {
		text-align: center;
		padding: .9rem 0;
	}
	.navLink.active {
		display: flex;
	}
	.navLink ul li:hover {
		background: #666666;
	}
}
