* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navContainerMM {
  z-index: 9999;
	width: 100%;
	background: #e77d11;
}

.navbarMM {
	display: grid;
	grid-template-columns: 0.5fr auto 1fr;
	align-items: center;
	height: 60px;
	width: 100%;
	background: #e77d11;
}

#navbarLogoMM {
	font-size: 24px;
	/*font-weight: 600;*/
	margin-left: 20px;
	color: #fff;
	cursor: pointer;
}

.navMenuMM {
	margin-left: auto;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 15px;
	list-style: none;
	text-align: center;
	margin-right: 24px;
}

.navLinksMM {
	color: #fff;
	text-decoration: none;
	/*font-size: 17px;*/
}

.navLinksMM:hover {
	color: #c1440e;
}

.menuToggleMM .barMM {
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background: #fff;
}

@media screen and (max-width:768px) {
	.navContainerMM {
		position: relative;
	}
	.navbarMM {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		height: 60px;
		width: 100%;
		margin: 0 auto;
	}
	.navMenuMM {
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 33%;
		position: absolute;
		top: 60px;
		right: -100%; /* left: -100%; */
		opacity: 0;
	}
	#navbarLogoMM {
		margin-left: 20px;
	}
	.navMenuMM.active {
		background-color: #e77d11;
		right: 0; /* left: 0; */
		opacity: .94;
	}
	.navLinksMM {
		text-align: center;
		line-height: 40px;
		width: 100%;
		display: table;
	}
	.navLinksMM:hover {
		background: #c1440e;
		color: #fff;
		transition: all 0.2s ease;
	}
	.navbarXX {
		width: 100%;
		grid-template-columns: auto 1fr;
	}
	#menuToggleID {
		position: absolute;
		top: 17%;
		right: 24px;
		transform: translate(5%, 20%);
	}
	.menuToggleMM .barMM {
		display: block;
		cursor: pointer;
	}
	.menuToggleMM:hover {
		cursor: pointer;
	}
	#menuToggleID.is-active .barMM:nth-child(2) {
		opacity: 0;
	}
	#menuToggleID.is-active .barMM:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	#menuToggleID.is-active .barMM:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}
