<div *ngIf="confirmationMsg" class="alert alert-success" role="alert">
  <p class="order-ok"> Thank you for your purchase!<p>
 </div>



 <div class="container">
  <div class="row">
    <div class="col-2">

      <h3>Cart</h3>

<div class="cart-item" *ngFor = "let item of items">
  <span [(ngModel)]="item.product_name" ngDefaultControl>{{ item.product_name }}</span>
  <span [(ngModel)]="item.product_price" ngDefaultControl>{{ item.product_price | currency }}</span>
</div>

  </div>

  <div class="col-2">
    <h3>Shipping Information</h3>
    <form>

      <div>
        <label for="email"> Email </label>
        <input [(ngModel)]='frm.email' id="email" type="text" name="email">
      </div>

      <div>
        <label for="name"> Name </label>
        <input [(ngModel)]='frm.name' id="name" type="text" name="name">
      </div>

      <div>
        <label for="address">
          Address
        </label>
        <input [(ngModel)]='frm.address' id="address" type="text" name="address">
      </div>

      <div>
        <label for="zip"> Zip </label>
        <input [(ngModel)]='frm.zip' id="zip" type="text" name="zip">
      </div>

      <div>
        <label for="city"> City </label>
        <input [(ngModel)]='frm.city' id="city" type="text" name="city">
      </div>

      <div>
        <label for="state"> State </label>
        <input [(ngModel)]='frm.state' id="state" type="text" name="state">
      </div>


      <h3>Billing Information</h3>
      <div>
        <label for="card"> Credit Card Number</label>
        <input [(ngModel)]='frm.card' id="credi_card" type="number" name="card">
      </div>

      <div>
        <label for="exp"> Expiration </label>
        <input [(ngModel)]='frm.exp' id="exp" type="date" name="exp">
      </div>

      <div>
        <label for="code"> Security Code</label>
        <input [(ngModel)]='frm.code' id="code" type="number" name="code">
      </div>


  <button (click)="onSubmit()" class="button btn btn-danger" type="submit">Purchase</button>

</form>
    </div>
</div>
