/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

:root {
  --dark-orange: #c1440e;
  --medium-orange: #e77d11;
  --light-orange: #fda600;
  --brown:#451804;
  --gray: #f0e7e7;

}

*, ::before, ::after {
  box-sizing: border-box;

}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--medium-orange);
  line-height: 1.5;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: var(--brown);
}

ul {
  list-style-type: none;
}

/* temp img control */

img {
  width: 100%;
  max-width: 200px;
}


/* Input */

input {
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}
