<!-- refactored into "main"/store front -->

<div class="container">

  <div class="row">
    <div class="col-2">
        <h1 class="title">Find all Essentials <br>for living on Mars!</h1>

        <p>Extra-planetary exploration used to be the future. Now it's here. <br>And we'll help you get ready to enjoy it!</p>

        <div class="cat_card" *ngFor="let card of cards" id="div_{{card.category_id}}">
          <h3> <a routerLink="/products/all/{{card.category_id}}" id="a_{{card.category_id}}">{{card.category_name}}</a></h3>
        </div>
    </div>


    <div class="col-2"><img src="../../../assets/undraw_launch_day_4e04.svg" alt=""></div>
</div>
</div>

<!-- featured products-->
<div class="small-container">
  <h2 class="title">Most Sold Products</h2>

    <div class="row">
      <div *ngFor="let weirdo of mostSold" class="col-4">
        <a routerLink="../products/id/{{weirdo.product_id}}"><h4>{{weirdo.product_name}}</h4>
          <img src="{{weirdo.product_url}}" alt="{{weirdo.product_name}}"></a>
      </div>
    </div>

<!-- footer -->
<footer>
  <div class="footer">
    <p>all rights reserved Martian Store &copy; 2021</p>
  </div>
  </footer>
