<!-- refactored into "main"/store front -->

<div class="container">

  <div class="row">
    <div class="col-2">
        <h1 class="title">Find all Essentials <br>for living in Mars!</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>Illum, unde nam consequuntur labore repellat iste laborum cum sapiente placeat aut.</p>


        <a routerLink="/signup"class="button">Create an Account &#8594;</a>
    </div>
    <div class="col-2"><img src="../../../assets/undraw_launch_day_4e04.svg" alt=""></div>
</div>
</div>


<!-- categories -->
<h2 class="title">Browse by Category</h2>
 <div class="row_cat">


  <div *ngFor="let card of cards" id="div_{{card.category_id}}">
     <div class="col-3">
        <h3> <a routerLink="/products/all/{{card.category_id}}" id="a_{{card.category_id}}">{{card.category_name}}</a></h3>
      <p>short category description</p>

  </div>
</div>
</div>

<!-- footer -->
<footer>
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Find us</h3>
              <ul class="social-media">
                  <li><a href="#">YouTube</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Twitter</a></li>
              </ul>
          </div>

          <div class="footer-col-2">

              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi dicta officiis reiciendis.</p>
          </div>

          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                  <li>nasa</li>
                  <li>blog</li>
                  <li>return policy</li>
                  <li>join as a vendor</li>
              </ul>
          </div>
      </div>
  </div>
  </footer>
