<div class="container-fluid">
  <div class="row">
    <div class="sidebar col-6 col-md-3">
  <ul>
    <li>
      <a id="a_dashboard_Setting" routerLink="/settings"> <span class="material-icons">settings</span> Settings</a></li>
    <li> <a id="a_dashboard_wishlist" routerLink="/group_contents/{{userID}}/{{wishlist}}"><i class="material-icons">
      star_border</i>  View Wishlist</a></li>

    <li><a id="a_dashboard_groups" routerLink="/groups/{{userID}}"><span class="material-icons">list</span>  View Groups</a></li>
    <li><a id="a_dashboard_editGroups" routerLink="/editgroups"><span class="material-icons">edit</span> Edit Groups</a></li>
    <li><a id="a_dashboard_previousorders" routerLink="/previousOrders"><span class="material-icons">history</span> Previous Orders</a></li>
  </ul>

</div>
    <div class="content col-12 col-md-9"> <h1>Welcome, {{uName}}</h1>
      <p>Your dashboard enables you to access your wishlist and the groups shared with you.</p>
      <p>You can also edit your personal information for future purchases. Use the side navigation to browse.</p>

    </div>

  </div>

</div>
