h1 {
  text-align: center;
  font-weight: normal;
}

p {
  line-height: 1.5;
  font-size: 1.25rem;
}

a {
  color: #c1440e;
  font-size: 18px;
  line-height: 2;

}

a:hover {
  background-color: hsl(30, 100%, 88%);
  padding: .25rem .5rem;
  border-radius: .5rem;
  color: #451804;

}

ul {
  margin-top: 2rem;
}
li {
  display: block;
  position: relative;
  align-items: baseline;
  line-height: 2;
}

.material-icons {
  font-size: 18px;
}

.content {
  padding-top: 2rem;
  background-color: #f8f8f8;
  font-size: 18px !important;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  ul {
    text-align: center;
    margin-bottom: 2rem;
  }
}
