<!-- <app-main-form></app-main-form> -->

<div class="wrapper">


  <div class="sidebar">
      <nav>
        <ul>
          <li>edit information</li>
          <li>view wishlist</li>
          <li>view groups</li>
        </ul>
      </nav>
  </div>


  <div class="content">
           <h1>Welcome, User</h1>
           <p>Your dashboard enables you to access your wishlist and the groups shared with you.</p>
           <p>You can also edit your personal information for future purchases. Use the side navigation to browse.</p>



       </div>


  </div>
