.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

h3 {
  margin: 3rem;
  font-weight: bold;
}

form {
  width: 450px;
  margin-bottom: 3rem;
  border: 2px #e77d11 dashed;
  padding: 2.5rem;
  background-color: #f8f8f8;
  border-radius: 1rem;
}

.button {
  cursor: pointer;
  display: block;
  margin: 1.5rem auto;
  background-color: #e77d11;
  color: #eee;
  font-weight: bold;
  border: 0;
  padding: 1rem 1.25rem;
  text-transform: uppercase;
  font-size: 18px;
  width: fit-content;
}

.button:hover {
  opacity: .8;
}

input {
  width: 100%;
}

.error{
  background-color: red;
  color:white
}

@media screen and (max-width: 768px) {
  form {
    width: 100%;
  }
}
