<div class="container">
    <div>
        Role: {{this.role}}
    </div>
    <div>
        <i><a (click)="updateEmail()">update</a></i>
        <b>Email:</b> {{user.user_email}}
    </div>
    <div>
        <i><a (click)="updatefName()">update</a></i>
        <b>First Name:</b> {{user.user_fname}}
    </div>
    <div>
        <i><a (click)="updateMI()">update</a></i>
        <b>Middle Initial:</b> {{user.user_midinnitial}}
    </div>
    <div>
        <i><a (click)="updatelName()">update</a></i>
        <b>Last Name:</b> {{user.user_lname}}
    </div>
    <div>
        <i><a (click)="updateStreet()">update</a></i>
        <b>Street Address:</b> {{user.user_street}}
    </div>
    <div>
        <i><a (click)="updateZip()">update</a></i>
        <b>ZipCode:</b> {{user.user_zip}}
    </div>
    <div>
        <i><a (click)="updateCity()">update</a></i>
        <b>City:</b> {{user.user_city}}
    </div>
    <div>
        <i><a (click)="updateState()">update</a></i>
        <b>State:</b> {{user.user_state}}
    </div>
    <div>
        <i><a (click)="updateUsername()">update</a></i>
        <b>Username:</b> {{user.user_username}}
    </div>
    <div>
        <i><a (click)="updatePassword()">update</a></i>
        <b>Password:</b> ***************
    </div>
    <button (click)="sendOff()" id="button_user_settings_submitChanges">Save Changes</button>
    <button (click)="Cancel()" id="button_user_settings_submitChanges">Cancel All Changes</button>
</div>
