<div class="container">
    <div>
        <p>Role: {{this.role}}</p>

    </div>
    <div>
        <a (click)="updateEmail()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; Email:</b> {{user.user_email}}
    </div>
    <div>
        <a (click)="updatefName()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; First Name:</b> {{user.user_fname}}
    </div>
    <div>
        <a (click)="updateMI()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; Middle Initial:</b> {{user.user_midinnitial}}
    </div>
    <div>
        <a (click)="updatelName()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; Last Name:</b> {{user.user_lname}}
    </div>
    <div>
        <a (click)="updateStreet()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; Street Address:</b> {{user.user_street}}
    </div>
    <div>
        <a (click)="updateZip()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; ZipCode:</b> {{user.user_zip}}
    </div>
    <div>
        <a (click)="updateCity()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; City:</b> {{user.user_city}}
    </div>
    <div>
        <a (click)="updateState()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; State:</b> {{user.user_state}}
    </div>
    <div>
        <a (click)="updateUsername()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; Username:</b> {{user.user_username}}
    </div>
    <div>
        <a (click)="updatePassword()"><span class="material-icons">edit</span> update </a>
        <b>&nbsp; Password:</b> ***************
    </div>
    <button class="button" (click)="sendOff()" id="button_user_settings_submitChanges">Save Changes</button>
    <button class="button" (click)="Cancel()" id="button_user_settings_submitChanges">Cancel All Changes</button>
</div>
