<div class="container">
    <div>
        <label for="*role">Role: {{this.role}}</label>
    </div>
    <div>
        <label for="*email">Email: {{user.user_email}}</label>
    </div>
    <div>
        <label for="*fname">First Name: {{user.user_fname}}</label>
    </div>
    <div>
        <label for="*midInnitial">Middle Initial: {{user.user_midinnitial}}</label>
    </div>
    <div>
        <label for="*lname">Last Name: {{user.user_lname}}</label>
    </div>
    <div>
        <label for="*street">Street Address: {{user.user_street}}</label>
    </div>
    <div>
        <label for="*zip">ZipCode: {{user.user_zip}}</label>
    </div>
    <div>
        <label for="*city">City: {{user.user_city}}</label>
    </div>
    <div>
        <label for="*state">State: {{user.user_state}}</label>
    </div>
    <div>
        <label for="*username">Username: {{user.user_username}}</label>
    </div>
    <div>
        <label for="*password">Password: ***************</label>
    </div>
</div>